server {
    listen ${PORT};
    server_name _;

    client_max_body_size 20M;

    location = /health {
        access_log off;
        return 200 'OK';
        add_header Content-Type text/plain;
    }

    location /api {
        proxy_pass http://${API_HOST}:${API_PORT};

        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Connection "";

        proxy_cache_bypass $http_pragma;
        proxy_no_cache $http_pragma;

        limit_req zone=api burst=20 nodelay;
    }

    location /admin/ {
        proxy_pass http://${ADMIN_HOST}:${ADMIN_PORT};

        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Connection "";

        proxy_cache_bypass $http_pragma;
        proxy_no_cache $http_pragma;
    }

    location = /admin {
        proxy_pass http://${ADMIN_HOST}:${ADMIN_PORT};

        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Connection "";

        proxy_cache_bypass $http_pragma;
        proxy_no_cache $http_pragma;
    }

    location / {
        proxy_pass http://${WEB_HOST}:${WEB_PORT};

        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Connection "";

        proxy_cache_bypass $http_pragma;
        proxy_no_cache $http_pragma;
    }
}
